@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'mentra-font';
  src: url('../public/assets/fonts/MENTRA.otf') format('opentype');
}
.mentra-font {
  font-family: 'mentra-font', sans-serif;
}
.home-bg{
  background-image: url('../public/assets/bg.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #690d89;
}
.stroke-yellow{
  -webkit-text-stroke: 0.5px #F7D63F;
}
.stroke-black{
  -webkit-text-stroke: 0.5px #000000;
}
ul {
  list-style-type: disc;
}
.text-with-stroke {
  text-shadow: 
      -2px -2px 0 #000,  
       2px -2px 0 #000,
      -2px  2px 0 #000,
       9px  9px 0 #000; /* Shadow offsets and colors */
}
@media(max-width: 640px){
  .text-with-stroke {
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         7px  7px 0 #000; /* Shadow offsets and colors */
  }
}